<center> <h1> Home Page </h1>
 <% if current_user && current_user.profile_pic.attached? %>
     <%= image_tag current_user.profile_pic, class: "img-thumbnail rounded ms-auto", style: "width: 5%" %>
     <% else %>
     <%= image_tag 'flanatar.png', class: "img-thumbnail rounded", style: "width: 5%" %>
     <% end %>

<% if current_user %>
	<div class="d-flex my-4 justify-content-center">
		<div class="d-flex flex-column">
    <%= render 'story/stories_list' %>
    </div>
    </div>
    <div class="flex flex-column">
    <% current_user.posts.each do |p| %>
    <%= render 'posts/post', post: p %>
    <% end %>
	</div>

	<div class="d-flex my-4 justify-content-center">
		<div class="d-flex flex-column">
    <%= render 'suggestions/suggestions_list' %>
</div>
	</div>
    <% end %>

  



<% if current_user %>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>
</center>